*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #f9fbfd;
}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: hsl(206, 17%, 28%);
}

.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-body {
  min-height: 100px;
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.passbox {
  width: 550px;
  border-radius: 10px;
  padding: 0 0 10px;
  background-color: #f9fbfd;
  text-align: center;
  overflow: hidden;
}
.word {
  padding: 10px 0;
  margin-bottom: 10px;
  background-color: aqua;


}
.opt {
  margin: 0px;
  color: gray;
}
.slidercontainer {
  width: 100%;
}

.slider {
  appearance: none;
  width: calc(100% - 20px);
  height: 0px;
  margin-bottom: 20px;
  background-color: green;
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;

}
.hover {
  opacity: 1;
}
.-webkit-slider-thumb{
  appearance: none;
  width: 30px;
  height: 30px;
  border: 2px solid blueviolet;
  border-radius: 50%;
  background-color: burlywood;
  cursor: pointer;

}
.options {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;

}
.container {
  display: block;
  position: relative;
  width: 160px;
  padding-left: 35px;
  margin-bottom: 12px;
  font-size: 1.4rem;
  user-select: none;
  cursor: pointer;
}
.hover input , .checkmark {
  background-color: yellow;
}
.container input {
  position: absolute;
  cursor: pointer;
  opacity: 0;
  height: 0;
  width: 0;
}
.checked , .checkmark {
  background-color: turquoise;
}
  .after {
  display: block;

}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: wheat;
}
  .after {
  content: "";
  position: absolute;
  display: none;
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid wheat;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);

}
.btn-refresh {
  font-size: 2rem;
  border: none;
  border-radius: 5px;
  background-color: teal;
  color: orange;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
.password {
  font-size: 2rem;
  overflow-wrap: break-word;
  padding: 5px 0px;
  margin-bottom: 15px;
  border: solid purple;
  border-width: 2px 0;
}
.card-footer {
  text-align: center;
}

.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

.btn {
  border: none;
  background-color: hsl(360, 91%, 36%);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

.float-right {
  float: right;
}

#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}
